#e246_9 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:823px;
	position:absolute;
}#e246_10 { 
	color:rgba(88.68185296654701, 85.42057156562805, 90.3124974668026, 1);
	opacity:1;
	width:82px;
	height:50px;
	position:absolute;
	left:80px;
	top:258px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e246_12 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:329px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_13 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:382px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_14 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:435px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_15 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:605px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_16 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:661px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_17 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:493px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_18 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:549px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_19 { 
	color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:161px;
	height:21px;
	position:absolute;
	left:1236px;
	top:120px;
	font-family:Manrope;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_20 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1268.0029296875px;
	top:329px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_21 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1268px;
	top:383px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_22 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1268px;
	top:439px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_23 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1267px;
	top:498px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_24 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1268px;
	top:439px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_25 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1267px;
	top:498px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_26 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1267px;
	top:555px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_27 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1267px;
	top:612px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_28 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1267px;
	top:667px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_29 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:76px;
	height:50px;
	position:absolute;
	left:1108px;
	top:256px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e246_30 { 
	opacity:1;
	width:86.24951171875px;
	height:50px;
	position:absolute;
	left:1289px;
	top:256px;
}#e246_31 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:58px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e246_32 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:22.25px;
	height:15px;
	position:absolute;
	left:63.99951171875px;
	top:31px;
}#e246_33 { 
	opacity:1;
	border:1px solid rgba(231.00000143051147, 231.00000143051147, 233.00000131130219, 1);
	width:1317.0015869140625px;
	height:0px;
	position:absolute;
	left:79.99918365478516px;
	top:307.0276184082031px;
}#e246_34 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1109.0029296875px;
	top:329px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_35 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1109px;
	top:382px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_36 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1109px;
	top:435px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_37 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1108px;
	top:493px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_38 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1108px;
	top:549px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_39 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1108px;
	top:605px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_40 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1108px;
	top:661px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_41 { 
	opacity:1;
	width:117px;
	height:44px;
	position:absolute;
	left:54px;
	top:38px;
}#e246_42 { 
	opacity:1;
	width:117px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}#e246_43 { 
	background-color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:32.5px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:5px;
}#e246_44 { 
	color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:78px;
	height:20px;
	position:absolute;
	left:39px;
	top:8px;
	font-family:K2D;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:98px;
}#e246_45 { 
	border-radius:500px;
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:1365px;
	top:43px;
	background-image:url(images/eellipse_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e246_46 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:221px;
	height:50px;
	position:absolute;
	left:609px;
	top:136px;
	font-family:Manrope;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
	line-height:50px;
}#e246_47 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:211px;
	height:32px;
	position:absolute;
	left:619px;
	top:184px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:32px;
}#e246_50 { 
	color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:41px;
	height:21px;
	position:absolute;
	left:1356px;
	top:235px;
	font-family:Manrope;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_52 { 
	background-color:rgba(46.000001057982445, 45.00000111758709, 57.00000040233135, 0.6499999761581421);
	opacity:1;
	width:1634px;
	height:955px;
	position:absolute;
	left:-143px;
	top:-15px;
}#e246_8 { 
	opacity:1;
	width:736px;
	height:463px;
	position:absolute;
	left:352px;
	top:198px;
	background-image:url(images/eimage_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}