#e31_567 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:823px;
	position:absolute;
}#e31_568 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:82px;
	height:50px;
	position:absolute;
	left:80px;
	top:258px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e31_569 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:234px;
	height:50px;
	position:absolute;
	left:104px;
	top:109px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e31_570 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:329px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_571 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:382px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_572 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:435px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_573 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:605px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_574 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:661px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_575 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:493px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_576 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:933px;
	height:21px;
	position:absolute;
	left:80px;
	top:549px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_577 { 
	color:rgba(173.18750202655792, 59.36343178153038, 38.967197835445404, 1);
	opacity:1;
	width:161px;
	height:21px;
	position:absolute;
	left:1236px;
	top:120px;
	font-family:Manrope;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_587 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:76px;
	height:50px;
	position:absolute;
	left:1108px;
	top:256px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e31_588 { 
	opacity:1;
	width:86.24951171875px;
	height:50px;
	position:absolute;
	left:1289px;
	top:256px;
}#e31_589 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:58px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e31_590 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:22.25px;
	height:15px;
	position:absolute;
	left:63.99951171875px;
	top:31px;
}#e31_591 { 
	opacity:1;
	border:1px solid rgba(231.00000143051147, 231.00000143051147, 233.00000131130219, 1);
	width:1317.0015869140625px;
	height:0px;
	position:absolute;
	left:79.99918365478516px;
	top:307.0276184082031px;
}#e31_599 { 
	opacity:1;
	width:117px;
	height:44px;
	position:absolute;
	left:54px;
	top:38px;
}#e31_600 { 
	opacity:1;
	width:117px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}#e31_601 { 
	background-color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:32.5px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:5px;
}#e31_602 { 
	color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:78px;
	height:20px;
	position:absolute;
	left:39px;
	top:8px;
	font-family:K2D;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:98px;
}#e31_603 { 
	border-radius:500px;
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:1365px;
	top:43px;
	background-image:url(images/eellipse_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e31_604 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:221px;
	height:50px;
	position:absolute;
	left:609px;
	top:136px;
	font-family:Manrope;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
	line-height:50px;
}#e31_605 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:211px;
	height:32px;
	position:absolute;
	left:619px;
	top:184px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:32px;
}#e31_606 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:80px;
	top:122px;
}#e31_607 { 
	background-color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:11.670000076293945px;
	height:19.799999237060547px;
	position:absolute;
	left:0px;
	top:2.0999999046325684px;
}#e31_608 { 
	color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:41px;
	height:21px;
	position:absolute;
	left:1356px;
	top:235px;
	font-family:Manrope;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e31_609 { 
	color:rgba(66.00000366568565, 114.0000008046627, 199.0000033378601, 1);
	opacity:1;
	width:170px;
	height:21px;
	position:absolute;
	left:635px;
	top:714px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_138 { 
	opacity:1;
	width:268.0029296875px;
	height:353px;
	position:absolute;
	left:1109px;
	top:329px;
}#e246_124 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:160.0029296875px;
	top:0px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_125 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:160px;
	top:53px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_126 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:160px;
	top:106px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_127 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:159px;
	top:164px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_128 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:159px;
	top:220px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_129 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:159px;
	top:276px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_130 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:159px;
	top:332px;
	font-family:Manrope;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_131 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1.0029296875px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_132 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1px;
	top:53px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_133 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:1px;
	top:106px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_134 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:0px;
	top:164px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_135 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:0px;
	top:220px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_136 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:0px;
	top:276px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e246_137 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:0px;
	top:332px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}