#e2_1559 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:823px;
	position:absolute;
}#e2_1561 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:389px;
	height:100px;
	position:absolute;
	left:80px;
	top:125px;
	font-family:Manrope;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
	line-height:50px;
}#e2_1669 { 
	opacity:1;
	width:117px;
	height:44px;
	position:absolute;
	left:54px;
	top:38px;
}#e2_1670 { 
	opacity:1;
	width:117px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_1671 { 
	background-color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:32.5px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:5px;
}#e2_1672 { 
	color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:78px;
	height:20px;
	position:absolute;
	left:39px;
	top:8px;
	font-family:K2D;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:98px;
}#e2_1673 { 
	border-radius:500px;
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:1365px;
	top:43px;
	background-image:url(images/eellipse_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e2_1674 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:872px;
	height:96px;
	position:absolute;
	left:80px;
	top:235px;
	font-family:Manrope;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:32px;
}#e2_1675 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:211px;
	height:32px;
	position:absolute;
	left:1125px;
	top:132px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:32px;
}#e2_1676 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:211px;
	height:32px;
	position:absolute;
	left:1125px;
	top:168px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:32px;
}#e2_1677 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:211px;
	height:32px;
	position:absolute;
	left:1125px;
	top:204px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:32px;
}#e2_1678 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:211px;
	height:32px;
	position:absolute;
	left:1125px;
	top:240px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:32px;
}#e2_1679 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	opacity:1;
	width:211px;
	height:32px;
	position:absolute;
	left:1125px;
	top:281px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:32px;
}#e16_177 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:43px;
	height:50px;
	position:absolute;
	left:80.00048828125px;
	top:408.4217529296875px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e16_178 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:281px;
	height:21px;
	position:absolute;
	left:115.00048828125px;
	top:474.4217529296875px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_179 { 
	color:rgba(66.00000366568565, 114.0000008046627, 199.0000033378601, 1);
	opacity:1;
	width:180px;
	height:21px;
	position:absolute;
	left:1197px;
	top:353px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_180 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:993px;
	top:474px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_181 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:23px;
	height:21px;
	position:absolute;
	left:1270px;
	top:474px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_182 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:131px;
	height:50px;
	position:absolute;
	left:1246px;
	top:402px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e16_184 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:22.25px;
	height:15px;
	position:absolute;
	left:129.00048828125px;
	top:439.4217529296875px;
}#e31_327 { 
	opacity:1;
	width:124.25px;
	height:50px;
	position:absolute;
	left:704px;
	top:400px;
}#e16_183 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:100px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e16_185 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:22.25px;
	height:15px;
	position:absolute;
	left:102px;
	top:31px;
}#e16_186 { 
	opacity:1;
	width:128.25px;
	height:50px;
	position:absolute;
	left:973px;
	top:402px;
}#e16_187 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:100px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e16_188 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:22.25px;
	height:15px;
	position:absolute;
	left:106px;
	top:31px;
}#e16_189 { 
	transform: rotate(-0.26033960954001045deg);
	opacity:1;
	border:1px solid rgba(231.00000143051147, 231.00000143051147, 233.00000131130219, 1);
	width:1297.0125732421875px;
	height:0px;
	position:absolute;
	left:80px;
	top:457.70703125px;
}#e16_190 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:16px;
	height:16px;
	position:absolute;
	left:1337px;
	top:474px;
}#e16_191 { 
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:6.5px;
	top:1.5px;
}#e16_192 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}#e16_193 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:281px;
	height:21px;
	position:absolute;
	left:115.00048828125px;
	top:520.4217529296875px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_194 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:993px;
	top:520px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_195 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:23px;
	height:21px;
	position:absolute;
	left:1270px;
	top:520px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_196 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:16px;
	height:16px;
	position:absolute;
	left:1337px;
	top:520px;
}#e16_197 { 
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:6.5px;
	top:1.5px;
}#e16_198 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}#e16_199 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:281px;
	height:21px;
	position:absolute;
	left:115.00048828125px;
	top:564.4217529296875px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_200 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:993px;
	top:564px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_201 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:23px;
	height:21px;
	position:absolute;
	left:1270px;
	top:564px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_202 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:16px;
	height:16px;
	position:absolute;
	left:1337px;
	top:564px;
}#e16_203 { 
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:6.5px;
	top:1.5px;
}#e16_204 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}#e16_205 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:281px;
	height:21px;
	position:absolute;
	left:115.00048828125px;
	top:610.4217529296875px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_206 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:993px;
	top:610px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_207 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:23px;
	height:21px;
	position:absolute;
	left:1270px;
	top:610px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_208 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:16px;
	height:16px;
	position:absolute;
	left:1337px;
	top:610px;
}#e16_209 { 
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:6.5px;
	top:1.5px;
}#e16_210 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}#e16_211 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:281px;
	height:21px;
	position:absolute;
	left:115.00048828125px;
	top:656.4217529296875px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_212 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:993px;
	top:656px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_213 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:23px;
	height:21px;
	position:absolute;
	left:1270px;
	top:656px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_214 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:16px;
	height:16px;
	position:absolute;
	left:1337px;
	top:656px;
}#e16_215 { 
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:6.5px;
	top:1.5px;
}#e16_216 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}#e16_217 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:281px;
	height:21px;
	position:absolute;
	left:115.00048828125px;
	top:702.4217529296875px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_218 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:993px;
	top:702px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_219 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:23px;
	height:21px;
	position:absolute;
	left:1270px;
	top:702px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_220 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:16px;
	height:16px;
	position:absolute;
	left:1337px;
	top:702px;
}#e16_221 { 
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:6.5px;
	top:1.5px;
}#e16_222 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}#e16_223 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:281px;
	height:21px;
	position:absolute;
	left:115.00048828125px;
	top:748.4217529296875px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_224 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:993px;
	top:748px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_225 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:716px;
	top:474px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_226 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:716px;
	top:520px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_227 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:716px;
	top:564px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_228 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:716px;
	top:610px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_229 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:716px;
	top:656px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_230 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:716px;
	top:702px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_231 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:108px;
	height:21px;
	position:absolute;
	left:716px;
	top:748px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_232 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:23px;
	height:21px;
	position:absolute;
	left:1270px;
	top:748px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_233 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:16px;
	height:16px;
	position:absolute;
	left:1337px;
	top:748px;
}#e16_234 { 
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:6.5px;
	top:1.5px;
}#e16_235 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:3px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}#e16_236 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:18px;
	height:18px;
	position:absolute;
	left:80.00048828125px;
	top:475px;
}#e16_237 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_238 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_239 { 
	background-color:rgba(92.00000211596489, 124.00000020861626, 223.00000190734863, 1);
	opacity:1;
	width:6.084508895874023px;
	height:5.450704097747803px;
	position:absolute;
	left:10.901395797729492px;
	top:0px;
}#e16_240 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:18px;
	height:18px;
	position:absolute;
	left:80.00048828125px;
	top:522px;
}#e16_241 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_242 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_243 { 
	background-color:rgba(92.00000211596489, 124.00000020861626, 223.00000190734863, 1);
	opacity:1;
	width:6.084508895874023px;
	height:5.450704097747803px;
	position:absolute;
	left:10.901395797729492px;
	top:0px;
}#e16_244 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:18px;
	height:18px;
	position:absolute;
	left:81.00048828125px;
	top:566px;
}#e16_245 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_246 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_247 { 
	background-color:rgba(92.00000211596489, 124.00000020861626, 223.00000190734863, 1);
	opacity:1;
	width:6.084508895874023px;
	height:5.450704097747803px;
	position:absolute;
	left:10.901395797729492px;
	top:0px;
}#e16_248 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:18px;
	height:18px;
	position:absolute;
	left:81.00048828125px;
	top:613px;
}#e16_249 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_250 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_251 { 
	background-color:rgba(92.00000211596489, 124.00000020861626, 223.00000190734863, 1);
	opacity:1;
	width:6.084508895874023px;
	height:5.450704097747803px;
	position:absolute;
	left:10.901395797729492px;
	top:0px;
}#e16_252 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:18px;
	height:18px;
	position:absolute;
	left:81.00048828125px;
	top:657px;
}#e16_253 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_254 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_255 { 
	background-color:rgba(92.00000211596489, 124.00000020861626, 223.00000190734863, 1);
	opacity:1;
	width:6.084508895874023px;
	height:5.450704097747803px;
	position:absolute;
	left:10.901395797729492px;
	top:0px;
}#e16_256 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:18px;
	height:18px;
	position:absolute;
	left:81.00048828125px;
	top:704px;
}#e16_257 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_258 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_259 { 
	background-color:rgba(92.00000211596489, 124.00000020861626, 223.00000190734863, 1);
	opacity:1;
	width:6.084508895874023px;
	height:5.450704097747803px;
	position:absolute;
	left:10.901395797729492px;
	top:0px;
}#e16_260 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:18px;
	height:18px;
	position:absolute;
	left:82.00048828125px;
	top:751px;
}#e16_261 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_262 { 
	background-color:rgba(145.00000655651093, 180.00000447034836, 242.00000077486038, 1);
	opacity:1;
	width:14.197183609008789px;
	height:17.746479034423828px;
	position:absolute;
	left:2.7887282371520996px;
	top:0px;
}#e16_263 { 
	background-color:rgba(92.00000211596489, 124.00000020861626, 223.00000190734863, 1);
	opacity:1;
	width:6.084508895874023px;
	height:5.450704097747803px;
	position:absolute;
	left:10.901395797729492px;
	top:0px;
}#e16_284 { 
	opacity:1;
	width:159px;
	height:41px;
	position:absolute;
	left:80px;
	top:347px;
}#e16_285 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:159px;
	height:40px;
	position:absolute;
	left:0px;
	top:1px;
}#ei16_285_54_1739 { 
	opacity:1;
	border:1px solid rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	width:159px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e16_286 { 
	opacity:1;
	width:156px;
	height:40px;
	position:absolute;
	left:3px;
	top:0px;
}#e16_287 { 
	color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:136px;
	height:20px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}