#e2_2185 { 
	overflow:hidden;
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:404px;
	height:619px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position:absolute;
}#e16_437 { 
	background-color:rgba(145.00000655651093, 180.0000348687172, 242.00000077486038, 0.15000000596046448);
	opacity:1;
	width:309px;
	height:163px;
	position:absolute;
	left:48px;
	top:350px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}#e2_2193 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:354px;
	top:23px;
}#e2_2194 { 
	opacity:1;
	width:16.584218978881836px;
	height:16.584077835083008px;
	position:absolute;
	left:3.707890272140503px;
	top:3.7079226970672607px;
}#e2_2195 { 
	background-color:rgba(46.000001057982445, 45.00000111758709, 57.00000040233135, 1);
	opacity:1;
	width:16.58418846130371px;
	height:16.584077835083008px;
	position:absolute;
	left:0px;
	top:0px;
}#e2_2196 { 
	background-color:rgba(46.000001057982445, 45.00000111758709, 57.00000040233135, 1);
	opacity:1;
	width:16.584186553955078px;
	height:16.584077835083008px;
	position:absolute;
	left:0.0000324249267578125px;
	top:0px;
}#e2_2294 { 
	color:rgba(81.00000277161598, 83.00000265240669, 87.00000241398811, 1);
	opacity:1;
	width:127px;
	height:50px;
	position:absolute;
	left:139px;
	top:40px;
	font-family:Manrope;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:50px;
}#e2_2295 { 
	color:rgba(81.00000277161598, 83.00000265240669, 87.00000241398811, 1);
	opacity:1;
	width:36px;
	height:50px;
	position:absolute;
	left:43px;
	top:104px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e2_2768 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:139px;
	height:50px;
	position:absolute;
	left:60px;
	top:135px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e2_2766 { 
	color:rgba(81.00000277161598, 83.00000265240669, 87.00000241398811, 1);
	opacity:1;
	width:104px;
	height:50px;
	position:absolute;
	left:43px;
	top:199px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e2_2769 { 
	color:rgba(81.00000277161598, 83.00000265240669, 87.00000241398811, 1);
	opacity:1;
	width:179px;
	height:50px;
	position:absolute;
	left:43px;
	top:294px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e2_2767 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:94px;
	height:50px;
	position:absolute;
	left:60px;
	top:236px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:50px;
}#e16_440 { 
	color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:177px;
	height:50px;
	position:absolute;
	left:114px;
	top:356px;
	font-family:Manrope;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:50px;
}#e2_2297 { 
	transform: rotate(-1.4033419209422001e-14deg);
	opacity:1;
	border:1px solid rgba(231.00000143051147, 231.00000143051147, 233.00000131130219, 1);
	width:294px;
	height:0px;
	position:absolute;
	left:60px;
	top:179px;
}#e2_3001 { 
	transform: rotate(-1.4033419209422001e-14deg);
	opacity:1;
	border:1px solid rgba(231.00000143051147, 231.00000143051147, 233.00000131130219, 1);
	width:294px;
	height:0px;
	position:absolute;
	left:60px;
	top:286px;
}#e2_3004 { 
	transform: rotate(-90deg);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:18px;
	height:18px;
	position:absolute;
	left:330px;
	top:267px;
}#e2_3005 { 
	background-color:rgba(127.00000002980232, 123.0000002682209, 129.00000751018524, 1);
	opacity:1;
	width:8.752500534057617px;
	height:14.850001335144043px;
	position:absolute;
	left:0px;
	top:1.575065016746521px;
}#e2_3002 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:390px;
	top:161px;
}#e16_415 { 
	opacity:1;
	width:311px;
	height:32px;
	position:absolute;
	left:43px;
	top:540px;
}#e16_416 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:311px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}#ei16_416_54_1739 { 
	opacity:1;
	border:1px solid rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	width:311px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e16_417 { 
	color:rgba(6.000000117346644, 54.00000058114529, 154.00000602006912, 1);
	opacity:1;
	width:69px;
	height:24px;
	position:absolute;
	left:128px;
	top:6px;
	font-family:Manrope;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:20px;
}#e16_449 { 
	opacity:1;
	width:84.5042495727539px;
	height:70px;
	position:absolute;
	left:160px;
	top:414px;
}#e16_446 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:84.5042495727539px;
	height:54.61672592163086px;
	position:absolute;
	left:-4.462208380573429e-12px;
	top:0px;
}#e16_447 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:33.774620056152344px;
	height:17.466148376464844px;
	position:absolute;
	left:23.679346084594727px;
	top:22.98583984375px;
}#e16_448 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:2.219470262527466px;
	height:47.01282501220703px;
	position:absolute;
	left:39.4228515625px;
	top:22.987207412719727px;
}