<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=K2D&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/index.css">
  <script>
    $(document).ready(function () {
      $("#e31_537").click(function () {
        $(".containerLogin").css("visibility", 'visible');
        $(".containerLogin").modal('show');

      });

    });
  </script>
  <style>
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div id="e192_0">
    <div id="e192_1"></div>
    <div id="e192_2"></div>
    <div id="e192_3"></div>
    <div id="e192_8">
      <div id="e192_9"></div>
      <div id="e192_10"></div>
      <div id="e192_11"></div>
    </div><span id="e192_13">Powerful</span><span id="e192_14">Simplify your complex product management task and
      automate your daily manual
      tasks with our easy-to-use and powerful tools.</span>
    <div id="e192_17">
      <div id="e192_18"></div>
      <div id="e192_19"></div>
      <div id="e192_20"></div>
    </div><span id="e192_22">Efficiency</span><span id="e192_23">We get it your pretty busy! Our feature brings a
      reliable tools to improve your job accountability with top-notch efficiency.</span>
    <div id="e192_25">
      <div id="e192_26">
        <div id="e192_27"></div>
        <div id="e192_28"></div>
        <div id="e192_29"></div>
      </div>
    </div><span id="e192_31">User friendly</span><span id="e192_32">An intuitive interface that will help you to keep
      records of your past meetings and manage all of your projects without hassle.</span><span id="e192_34">How it
      Works</span><span id="e192_35">No, it’s not as hard as using your usual so-called-PM-tools. With only 3 steps, you
      are ready to create a great Backlog and thorough and comprehensive Product Requirement Document.</span><span
      id="e192_36">Benefits</span><span id="e192_37">NIDS will help you to gather and simplify what your customers want
      by suggesting you list of User Stories. </span><span id="e192_38">Improve your Product
      Management Game</span>
    <div id="e192_39">
      <div id="e192_40"></div>
      <div id="e192_41"><span id="e192_42">Add your Project</span><span id="e192_43">On your dashboard, simply tap
          button “Add New Project. Every project will consist of your meetings.</span></div>
    </div>
    <div id="e192_44">
      <div id="e192_45"></div>
      <div id="e192_46"><span id="e192_47">Boosts your Post-Meeting Productivity</span><span id="e192_48">90% done! You
          can edit, add, delete some of our user stories that we provided. Yes, you are right because you know
          better.</span></div>
    </div>
    <div id="e192_49"><span id="e192_50">Upload your Meetings</span><span id="e192_51">The most exicting part! Upload
        your audio or video meetings, and we will provide you a list of your user stories based on your meetings
        recording. </span></div>
    <div id="e192_52"></div>
    <div id="e192_53"></div>
    <div id="e192_54">
      <div id="e192_55">
        <div id="e192_56">
          <div id="e192_57"></div><span id="e192_61">Benefits</span><span id="e192_62">How it Works</span><span
            id="e192_63">About</span>
          <div id="e192_64">
            
            <div id="e192_65"></div><span id="e192_66">nids</span>
          </div>
        </div>
      </div><a href="/Login.html"><button type="button" id="e192_67">Login</button></a>
    </div>
  </div>
</body>

<div class="containerLogin" style="visibility: hidden">
  <div class="btnLogin">
    <a href="dashboard">
      <button type="button" id="loginGoogle" href="dashboard"> Continue with Google</button>
      <br />
      <button type="button" id="loginLnk"> Continue with LinkedIn</button>
    </a>
  </div>

  </form>
</div>

</html>